PORT=4000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=E3FCfhMm9T6Q6VwajR3Q2ttR13J6qhbdsE1PGQ94Ou+q0uN9uwEOKicws21z3G+4+DDf0oBmLjgo97aT05B9nw==
AI_MODE=free
AI_FALLBACK_MODE=template
AI_MAX_REQUESTS_PER_MINUTE=20
AI_MAX_REQUESTS_PER_DAY=500
CACHE_TTL_SECONDS=300
